.comment-section {
  font-size: 0.9rem;

  .comment {
    display: flex;
    flex-flow: row;
    margin-bottom: 5px;

    .comment-username {
      font-weight: bold;
      margin-right: 5px;
    }
  }

  .add-comment-form {
    border-top: 1px solid #e4e4e4;
    margin-top: 10px;
    padding-top: 10px;

    input {
      border: none;
      width: 100%;
      height: 30px;
      font-size: 0.9rem;
    }
  }
}
